@page
@model IndexModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<body class="text-center">
    <div>
        <h1 class="display-4 white" id="WC">BİTİRME PROJESİ</h1>
        <p class="white">Bu websitesi Berkay Öner tarafından geliştirilmektedir.</p>
    </div>

    </br>

    <div>
        <img src="images/bay.jpg" alt="Berkay Öner" class="left-image" style="width:350px;">
        </br></br></br></br></br>

        <h2 class ="white">BERKAY ÖNER</h2>
        </br>
        <p class="white same-text">Merhaba. Ben 220209075 numaralı öğrenci Berkay Öner. Üsküdar Üniversitesi Yazılım Mühendisliği</p>
        <p class="white same-text">(İngilizce) öğrencisiyim. Bu uygulamayı danışman öğretmenim Belaynesh Chekol için "Bitirme Projesi"</p>
        <p class="white same-text">amacı ile hazırladım.</p>
        </br>
        <p class="white same-text">Bana sosyal medya hesaplarımdan ulaşabilirsiniz.</p>
        </br></br>
        <a class="insta-button" href="https://www.instagram.com/berkayy.oner/" target="_blank">INSTAGRAM</a>

        </br></br></br></br>
    </div>

    </br></br></br>
</body>

<script src="~/js/site.js"></script>