@page
@model IndexModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<body class="text-center">
    <div>
        <h1 class="display-4 white" id="WC">İNDİR</h1>
        <p class="white">Uygulamayı indirerek yeni maceralara atılmaya hazır mısın?</p>
    </div>

    </br>

    <div>
        <img src="images/application.png" alt="Win-App" class="left-image">
        </br></br></br></br></br>

        <h2 class ="white">İNDİRMEYE HAZIR MISIN?</h2>
        </br>
        <p class="white same-text">Windows uygulamasını indirmek için tek yapman gereken aşağıdaki "WINDOWS İÇİN İNDİR"</p>
        <p class="white same-text">butonuna tıklaman ve uygulamayı çalıştırarak aramıza katılman. Seni bekliyoruz!</p>
        </br></br>
        <a class="button" href="/downloads/v1.4.4/BitirmeProjesi.exe">WINDOWS İÇİN İNDİR</a>

        </br></br></br></br>
    </div>

    </br></br></br>
</body>

<script src="~/js/site.js"></script>