@page
@model IndexModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<body class="text-center">
    <div>
        <h1 class="display-4 white" id="WC">FORLIB</h1>
        <p class="white">Yepyeni bir sosyal kitap okuma-yazma platform deneyimine hazır mısın?</p>
    </div>

    </br>

    <div>
        <img src="images/logo2.png" alt="Win-App" class="left-image">
        </br></br></br></br></br>

        <h2 class ="white">BU UYGULAMADA NELER YAPABİLİRSİN?</h2>
        </br>
        <p class="white same-text">Neler yapamazsın ki? Kitap okuyabilir, satın alabilir, yazabilir, paylaşabilir,</p>
        <p class="white same-text">satabilir, para kazanabilirsin. Kendi profili oluştur, sevdiğin yazarları ve</p>
        <p class="white same-text">kitapları takip et, yeni dostlar, yeni yazarlar edin!</p>

        </br></br></br></br></br></br></br></br>

        <img src="images/application.png" alt="Win-App" class="right-image" style="height: 350px;">
    </div>

    </br></br></br>

    <div>
        <h2 class ="white">YENİ DÜNYALARA ATIL</h2>
        </br>
        <p class="white same-text">Yeni kitaplar, yeni hikayeler okuyarak kendini hayallerinin ötesinde</p>
        <p class="white same-text">yeni dünyalarda hissedebilir, bu heyecana kendini kaptırabilirsin.</p>
        <p class="white same-text">Uygulamayı indirme sayfasına gitmek için aşağıdaki butona basman yeterli.</p>
        </br></br>
        <a class="button" asp-area="" asp-page="/Download">İNDİRME SAYFASI</a>
    </div>

    </br></br></br></br></br>
    <!-- <a asp-area="" onclick="TestAlert('Bu bir test mesajıdır.');">Test Alert</a> -->
</body>

<script src="~/js/site.js"></script>